* {
  box-sizing: border-box;
}

body {
  background-color: white;
  align-content: center;
}

.listen-icon {
  justify-content: right;
}

.contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	line-height: 2em;
  color:purple
}

.button {
  color: white;
  background-color: purple;
  border-radius: 3px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
    font-size: 18px;
}

.paragraph {
  line-height: 2.5;
  text-align: justify;
  align-content: center;
  margin-right: 150px;
  margin-left: 150px;
}

h1 {
  font-weight: lighter;
  text-align: center;
}